@import "tailwindcss";


svg {
touch-action: none;
}


/* Ensure this is in src/index.css */
@keyframes pop {
  0% { transform: scale(0.5); opacity: 0; }
  25% { transform: scale(1.8); opacity: 1; }
  75% { transform: scale(1.2); opacity: 0.8; }
  100% { transform: scale(0); opacity: 0; }
}

.animate-pop {
  animation: pop 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; 
}